@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">My Scripture Journal App</h1>
    <p>A place to record and search scriptural insights and inspiration</p>
   
</div>
<div class="intro">
    <a asp-area="" asp-page="Scriptures/Index">Click here to get started...</a>
</div>
<div class="hero-image">
    <img src="~/images/journal.jpg" />
</div>