@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All images and content are believed to be in fair use. </p>
<p>If you suspect that any content is in violation of fair use, please contact the admin:</p>
<address>
   <a href="mailto:galj16026@byui.edu">Joseph Gale</a><br>
    Des Moines, IA<br>
    USA
</address>