@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css" />
<div class="jumbotron">
    <h1>Brigham Young University - Santa Barbara</h1>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="span4"></div>
        <div class="span4"><img class="center-block" src="~/images/santa-barbara.jpg" /></div>
        <div class="span4"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 frontbox">
        <h2>Welcome to Paradise</h2>
        <p>
            A place where secular and spritual learning focus on celebrating the beauty in the world
        </p>
    </div>
    <div class="col-md-4">
        <h2>What's your calling?</h2>
        <p>Build the degree you've always wanted.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Start your story &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get registered</h2>
        <p>Professors are waiting to mentor you</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">Meet some of our favorites &raquo;</a></p>
    </div>
</div>
