@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p> BYU - Santa Barbara transform how people, businesses and things connect with each other. We understand that for you⁠—and all of our customers⁠—to fully experience our products and services, you have to trust that we have your privacy interests in mind and that we respect your privacy choices.

We strive to provide you with clear and transparent notice about the information we collect from you or about you and how we use it. And we provide you with choices about certain uses of information that go beyond what we need to give you the best services and experiences with Verizon.

You can read about our privacy practices in our full privacy policy. Our privacy summary will guide you to useful information about different privacy-related topics, quick answers to immediate questions about our privacy practices, information about additional privacy practices that apply to the specific Verizon apps and services you use and information about our affiliate companies’ privacy policies.

We update our privacy policy and supporting materials when we believe additional information will help clarify our practices and when we introduce new products, services or practices.

Please let us know if you have any input or questions.</p>
