@{
    ViewData["Title"] = "Home Page";
}

<div class="main-page">
<div class="text-center">
        <h1 class="display-4 text-white">Movies for Saints</h1>
        <p class="text-white">Wholesome recreation for all</p>
</div>
    </div>
