@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Keeping your information secure</p>

<h2>We build security into our services to protect your information</h2>

<p>
    All Google products are built with strong security features that continuously protect your information. The insights we gain from maintaining our services help us detect and automatically block security threats from ever reaching you. And if we do detect something risky that we think you should know about, we’ll notify you and help guide you through steps to stay better protected.

    We work hard to protect you and Google from unauthorized access, alteration, disclosure, or destruction of information we hold, including:
</p>
<ul>
    <li>We use encryption to keep your data private while in transit</li>
    <li>We offer a range of security features, like Safe Browsing, Security Checkup, and 2 Step Verification to help you protect your account</li>
    <li>We review our information collection, storage, and processing practices, including physical security measures, to prevent unauthorized access to our systems</li>
</ul>
